/* Menu en haut */
#menu {
  display: none;
  list-style-type: none;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
}

#menu li {
  display: inline-block;
  margin: 0 15px;
}

#menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

#menu-toggle {
  font-size: 30px;
  cursor: pointer;
  color: #333;
  display: block;
  padding: 10px;
  background-color: #f1f1f1;
}

#menu-toggle.active + #menu {
  display: block;
}

/* Menu fixe en bas */
#bottom-menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  text-align: center;
  z-index: 100;
}

#bottom-menu ul {
  list-style-type: none;
  padding: 0;
}

#bottom-menu li {
  display: inline-block;
  margin: 0 15px;
}

#bottom-menu li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Responsivité du menu hamburger */
@media (max-width: 768px) {
  #menu-toggle {
    display: block;
  }

  #menu {
    display: none;
    background-color: #333;
  }

  #menu li {
    display: block;
    margin: 10px 0;
  }

  #bottom-menu {
    display: none;
  }
}
